/* Footer */
#pageFooter {
    background-image: linear-gradient(
      rgba(121, 121, 121, 0.246) 0%,
      rgba(50, 53, 54, 0.808) 80%
    );
    box-shadow: 0 -0.2rem 1.0325rem 0.0625rem #5a5a5a86 !important;
    padding: 10px;
  }

  .fa-mobile{
    color:rgba(44, 67, 82, 0.315);
  }

  .fa-envelope-o {
    // color:rgba(73, 108, 172, 0.575);
    color:rgba(161, 56, 56, 0.767);

  }

  .fa-linkedin {
    color:rgba(9, 86, 230, 0.609);
  }

  .fa-github {
    color:rgba(0, 0, 0, 0.55);
  }

  .fa-twitter{
    color:rgba(5, 94, 238, 0.609);
  }

  .fa-file-text-o{
    color:rgba(59, 126, 104, 0.609);
  }
  
  #icons .fa {
    font-size: 2.5rem;
    padding-right: 0.625rem;
    color: #e0e4e652;
  }
  /* Icons on bottom change color on hover & click */
  #phone:hover, .fa:hover {
    color: rgba(33, 40, 139, 0.801) !important;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px rgba(255, 255, 255, 0.377),
      0 0 20px rgb(70, 152, 246), 0 0 15px rgba(48, 84, 151, 0.966), 0 0 30px;
    color: rgba(48, 84, 151, 0.966) !important;
  }
  
  #phone:active, .fa:active {
    color: rgba(92, 238, 238, 0.932) !important;
    transform: translateY(0.2rem);
  }
  

  